.wrapper {
  width: calc(25% - 30px);
  margin: 15px;
}
.imageWrapper {
  margin: 10px;
  width: calc(100% - 20px);
}

.imageWrapper img:hover {
  padding-top: 5px;
  transition: 0.5s;
}
.imageWrapper > img {
  cursor: pointer;
  width: 100%;
  height: 277px;
}

.title {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 24px;
}
.description {
  height: 40px;
  font-size: 14px;
  color: rgb(92, 99, 122);
  line-height: 20px;
  margin-bottom: 15px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  width: 100%;
}

div .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
