.cardsWrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 15px 0px 35px 0px;
}
.underSliders {
  justify-content: space-between;
  width: 175vh;
  display: flex;
  margin-top: 30px;
}
.minitext {
  font-family: sans-serif;
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 10px;
}
.minitext h1,
p {
  font-size: 15px;
}
.minitext h1 > p {
  color: gray;
}
.minitext h1 {
  margin-left: 10px;
}
